body {
    margin: 0 auto;
    text-align: center;
}

head {
    border-bottom: solid 1px;
    margin: 0;
}

.memobox {
    border: solid 1px;
    width: 100%;
    height: 60px;
}

.order {
    text-align: left;
}
